h1{
  text-align: center;
}
.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline;
  margin-right: 10px;
}

.nav li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 3px;
}

.nav li a:hover {
  background-color: #333;
  color: #fff;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product {
  border: 1px solid #ccc;
  padding: 20px;
}

.product h3 {
  margin-top: 0;
}

.product p {
  margin-bottom: 10px;
}

.cart-item {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
}

.cart-item h4 {
  margin-top: 0;
}

.cart-item p {
  margin-bottom: 5px;
}

.total-price {
  font-weight: bold;
  margin-top: 10px;
}
.center-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.centered-link {
  display: inline-block;
  padding: 12px 24px;
  background-color: #f0f0f0;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.centered-link:hover {
  background-color: #333;
  color: #fff;
}








